@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-ratio-w: 1.7777;
  --screen-ratio-h: 0.5625;
  --screen-ratio-h-p: 56.25;
  --screen-ratio-h-dvh: 56.25vw;
  --controller-w-sm: 264;
  --controller-w-sm-px: 16.5rem;
  --controller-w-md: 296;
  --controller-w-md-px: 18.5rem;
  --controller-open-w-md-px: 26.5rem;
  --search-h-px: 58px;
  --player-y-space-px: 6.75rem;
  --controller-close-w-px: 2rem;
}

@layer base {
  html,
  body {
    width: 100vw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

/* uitils */
@layer utilities {
  .bg {
    @apply bg-black;
    background-image: radial-gradient(
        at 80% 95%,
        rgba(68, 51, 204, 0.2) 20%,
        rgba(2, 21, 93, 0.2) 50%
      ),
      radial-gradient(
        at 20% 0%,
        rgba(130, 51, 204, 0.3) 20%,
        rgba(9, 18, 57, 0.2) 50%
      ),
      radial-gradient(
        at 0% 70%,
        rgba(158, 54, 255, 0.5) 20%,
        rgba(36, 46, 88, 0.2) 50%
      ),
      radial-gradient(
        at 95% 0%,
        rgba(40, 23, 149, 0.2) 20%,
        rgba(4, 12, 46, 0.2) 50%
      ),
      radial-gradient(
        at 55% 10%,
        rgba(183, 156, 48, 0.2) 10%,
        rgba(100, 77, 88, 0.2) 30%,
        rgba(0, 0, 0, 0.2) 50%
      ),
      radial-gradient(
        at 95% 0%,
        rgba(40, 150, 114, 0.2) 20%,
        rgba(33, 51, 125, 0.2) 50%
      );
  }
  .button-col {
    @apply flex shrink grow flex-col gap-2;
  }
  .button-row {
    @apply flex shrink grow gap-2;
  }
  .button {
    @apply flex shrink grow items-center justify-center rounded-lg p-2 pb-3;
    box-shadow: inset -0.25rem -0.25rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(
      150deg,
      rgba(190, 176, 255, 0.05) 30%,
      rgba(186, 138, 206, 0.2) 100%
    );
  }
  .button-tight {
    letter-spacing: -0.1rem;
  }
  .button-tighter {
    letter-spacing: -0.5rem;
  }

  .search-list__li {
    @apply mt-2 box-content flex h-4 border-b border-b-gray-800 border-opacity-50 py-2 text-center;
  }
  .search-list__label {
    @apply gap-3 border-0 text-base font-bold;
  }
  .search-list__li-click {
    @apply flex max-w-full flex-grow items-center gap-3;
  }
  .search-list__li-title {
    @apply flex-grow overflow-hidden text-ellipsis whitespace-nowrap text-sm;
  }
  .search-list__li-artist {
    @apply flex-shrink-0 basis-1/4vw overflow-hidden text-ellipsis whitespace-nowrap text-xs md:text-sm;
  }
  .search-list__li-number {
    @apply hidden flex-shrink-0 basis-1/8vw overflow-hidden text-ellipsis whitespace-nowrap text-sm opacity-70 md:block;
  }
}

/* Specific element */
@layer components {
  .player-content__youtube {
    visibility: hidden;
    > iframe {
      @apply h-full w-full;
    }
  }
  .mini-size {
    width: 0px;
    height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
  .full-size {
    visibility: visible;
    width: 100%;
    height: 100%;
    max-width: calc(33.33dvh * var(--screen-ratio-w));
    max-height: 100%;
  }

  .search-song {
    height: calc(100dvh - var(--screen-ratio-h-dvh));
  }
  .search-box {
    background-image: linear-gradient(
      150deg,
      rgba(190, 176, 255, 0.05) 30%,
      rgba(186, 138, 206, 0.2) 100%
    );
    height: calc(100dvh - var(--screen-ratio-h-dvh));
  }
  .search-list {
    scrollbar-width: none;
  }

  .contact-names {
    @apply opacity-50 hover:opacity-80;
  }
  .contact-sns > * {
    @apply opacity-50 hover:opacity-80;
  }
  .contact-more {
    @apply opacity-50 hover:opacity-80;
  }
  .contact-more > button {
    transition: all 0.2s 0.2s cubic-bezier(0.1, 0.7, 1, 0.9);
  }
  .contact-more > div {
    transition: all 0.3s cubic-bezier(0.1, 0.7, 1, 0.9);
  }
  .contact-more:hover > button {
    transition: all 0.1s cubic-bezier(0.1, 0.7, 1, 0.9);
    @apply w-0 opacity-0;
  }
  .contact-more:hover > div {
    transition: all 0.3s 0.1s cubic-bezier(0.1, 0.7, 1, 0.9);
    @apply ml-2 h-full w-72 opacity-100;
  }

  /* sm */
  @media screen and (min-width: 640px) {
    .player-content__youtube {
      height: calc((100vw - var(--controller-w-sm-px)) * var(--screen-ratio-h));
      max-width: calc(
        (100dvh - var(--player-y-space-px)) * var(--screen-ratio-w)
      );
    }
    .search-box {
      box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.15);
    }
  }

  /* md */
  @media screen and (min-width: 768px) {
    .player-content__youtube {
      height: calc((100vw - var(--controller-w-md-px)) * var(--screen-ratio-h));
    }
  }
}
