/* Utilities */
@keyframes appear {
  0% {
    opacity: 0;
    display: block;
  }
  100% {
    opacity: 1;
  }
}
@keyframes disappear {
  0% {
    display: block;
    opacity: 1;
  }
  99.99% {
    opacity: 0;
  }
  100% {
    display: none;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dim {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.spin {
  animation: spin 3s infinite;
}
.dim {
  animation: dim 2s infinite;
}

/* Header appear & disappear */
@keyframes disappear__title {
  0% {
    @apply w-72 opacity-80;
  }
  50% {
    @apply w-72 opacity-80;
  }
  70% {
    @apply w-20 opacity-80;
  }
  85% {
    @apply w-20 opacity-80;
  }
  100% {
    @apply w-0 opacity-0;
  }
}
@keyframes disappear__menu-button {
  0% {
    @apply w-20;
  }
  85% {
    @apply w-20;
  }
  100% {
    @apply w-0;
  }
}
@keyframes appear__menu-open {
  0% {
    @apply opacity-0;
  }
  75% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}
.header .menu__open {
  @apply w-0;
  animation: disappear__menu-button 4s;
}
.header:hover .menu__open {
  @apply w-20 animate-none;
}
.header > .title-group {
  @apply w-8 opacity-0;
  animation: disappear__title 4s;
  transition: opacity 0.3s 0.15s;
}
.header:hover > .title-group {
  @apply w-72 animate-none opacity-100;
}
.header > .title-group__open {
  @apply opacity-100;
  animation:
    appear__menu-open 5s,
    spin 5s infinite;
  transition:
    opacity 0.2s,
    rotate 0s 0.2s;
}
.header:hover > .title-group__open {
  @apply animate-none opacity-0;
}
.loading__disappear {
  animation: disappear 0.5s forwards;
}

/* Menu open & close */
.menu-modal__closed {
  display: none;
  animation: disappear 1s forwards;
}
.menu-modal__opened {
  animation: appear 1s forwards;
}
.menu-box {
  @apply -top-4;
  left: calc(-66.66dvw - 10rem);
  transition: left 1s cubic-bezier(0.7, 0.2, 0.1, 0.4);
}
@media screen and (min-width: 320px) {
  .menu-box {
    left: calc(-50dvw - 10rem);
  }
}
@media screen and (min-width: 640px) {
  .menu-box {
    left: calc(-40dvw - 10rem);
  }
}
@media screen and (min-width: 768px) {
  .menu-box {
    left: calc(-33.33dvw - 10rem);
  }
}
.menu__opened {
  transition: left 1s cubic-bezier(0.1, 0.2, 0.1, 0.8);
  left: -1rem;
}
@media screen and (min-width: 640px) {
  .menu__opened {
    left: -1.25rem;
  }
}

/* Search-box open & close */
.player__search-closed {
  .player-content {
    @apply sm:justify-center;
  }
}
.player__search-opened {
  .player-content {
    @apply sm:justify-end;
  }
}
.search-modal__search-closed {
  @apply hidden;
}
.search-modal__search-open {
  @apply block;
}
.controller__search-closed {
  @apply m-4 mt-14 sm:mb-11 sm:ml-2 sm:mr-4 sm:mt-16;
}
.controller__search-opened {
  @apply m-4 mt-14 pt-2 sm:mb-11 sm:ml-2 sm:mr-4 sm:mt-1/2dvh;
  .button {
    @apply sm:z-20 sm:py-2 sm:text-sm;
  }
}

/* Controller hide & show */
@keyframes point__controller-close {
  0% {
    margin-right: 0.5rem;
  }
  80% {
    margin-right: 0.2rem;
  }
  100% {
    margin-right: 0.5rem;
  }
}
@keyframes point__controller-open {
  0% {
    margin-left: 0.3rem;
  }
  80% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 640px) {
  .player__controller-closed {
    .player-content__youtube {
      height: calc(
        (100dvw - var(--controller-close-w-px)) * var(--screen-ratio-h)
      );
      max-width: calc(
        (100dvh - var(--player-y-space-px)) * var(--screen-ratio-w)
      );
    }
  }
  .controller {
    transition:
      right 0.3s,
      opacity 0.3s;
  }
  .controller__ready-close {
    right: 0.5rem;
  }
  .controller-hide {
    transition:
      all 0.3s,
      right 0s,
      opacity 0.3s;
    right: -4.4rem;
    padding-left: 1rem;
    > span {
      rotate: 0deg;
      transition: rotate 0s 0.01s;
    }
  }
  .controller:hover > .controller-hide:hover {
    opacity: 1;
    animation: point__controller-close 0.8s infinite;
  }
  .controller__closed {
    @apply right-0 z-40 mx-0 max-w-4 overflow-hidden;
    transition: max-width 0.3s;
    > .controller-box {
      @apply pl-4;
      transition: padding-left 0.3s;
    }
    > .controller-hide {
      opacity: 0.65;
      right: 0;
      left: -0.6rem;
      > span {
        rotate: 180deg;
      }
    }
  }
  .controller__closed:hover {
    @apply max-w-7;
    > .controller-box {
      @apply pl-5 opacity-85;
      transition: padding-left 0.3s;
    }
    > .controller-hide {
      margin-top: 0;
    }
    > .controller-hide:hover {
      margin-top: 0;
      animation: point__controller-open 0.8s infinite;
    }
  }
}

/* Too low height */
@media screen and (max-height: 400px) {
  .player__search-opened .full-size {
    height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
    max-height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
  }
  .controller {
    * {
      @apply p-0 text-sm sm:p-0 sm:text-base;
    }
  }
  .controller__search-open {
    @apply sm:basis-96 sm:gap-1;
    * {
      @apply sm:m-0 sm:flex-row sm:gap-1 sm:p-0 sm:text-xs sm:tracking-tighter;
    }
    .inessential {
      @apply hidden;
    }
    .controller-timebackward {
      @apply sm:hidden;
    }
    .controller-timeforward {
      @apply sm:hidden;
    }
  }
}
