@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-ratio-w: 1.7777;
  --screen-ratio-h: 0.5625;
  --screen-ratio-h-p: 56.25;
  --screen-ratio-h-dvh: 56.25dvw;
  --controller-w: 296;
  --controller-w-px: 18.5rem;
  --search-h-px: 58px;
}

/* reusable */
@layer utilities {
  .scroll {
    overflow: scroll;
    scrollbar-width: none;
  }
  .button-col {
    @apply flex shrink grow flex-col gap-2;
  }
  .button-row {
    @apply flex shrink grow gap-2;
  }
  .button {
    @apply flex shrink grow items-center justify-center rounded-lg p-2 pb-3;
    box-shadow: inset -0.25rem -0.25rem rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(
      150deg,
      rgba(190, 176, 255, 0.05) 30%,
      rgba(186, 138, 206, 0.2) 100%
    );
  }
  .button-tight {
    letter-spacing: -0.1rem;
  }
  .button-tighter {
    letter-spacing: -0.5rem;
  }

  .search-list__li {
    @apply mt-4 box-content flex h-4 border-b border-b-gray-800 border-opacity-50 py-2 text-center;
  }
  .search-list__li-click {
    @apply flex max-w-full flex-grow items-center gap-3;
  }
  .search-list__li-title {
    @apply flex-grow overflow-hidden text-ellipsis whitespace-nowrap text-sm;
  }
  .search-list__li-artist {
    @apply flex-shrink-0 basis-1/4dvw overflow-hidden text-ellipsis whitespace-nowrap text-xs md:text-sm;
  }
  .search-list__li-number {
    @apply hidden flex-shrink-0 basis-1/8dvw overflow-hidden text-ellipsis whitespace-nowrap text-sm opacity-70 md:block;
  }
}

/* id */
@layer components {
  .app {
    background-image: radial-gradient(
        at 80% 95%,
        rgba(68, 51, 204, 0.2) 20%,
        rgba(2, 21, 93, 0.2) 50%
      ),
      radial-gradient(
        at 20% 0%,
        rgba(130, 51, 204, 0.3) 20%,
        rgba(9, 18, 57, 0.2) 50%
      ),
      radial-gradient(
        at 0% 70%,
        rgba(158, 54, 255, 0.5) 20%,
        rgba(36, 46, 88, 0.2) 50%
      ),
      radial-gradient(
        at 95% 0%,
        rgba(40, 23, 149, 0.2) 20%,
        rgba(4, 12, 46, 0.2) 50%
      ),
      radial-gradient(
        at 55% 10%,
        rgba(183, 156, 48, 0.2) 10%,
        rgba(100, 77, 88, 0.2) 30%,
        rgba(0, 0, 0, 0.2) 50%
      ),
      radial-gradient(
        at 95% 0%,
        rgba(40, 150, 114, 0.2) 20%,
        rgba(33, 51, 125, 0.2) 50%
      );
  }
  .upate > * {
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.8, 0.2, 0.15, 0.85);
    transform: translateX(5%) translateY(-300%) scale(0.8);
  }
  .upate:hover > * {
    transform: translateX(5%) translateY(0) scale(0.8);
  }

  .player-content {
    height: calc(var(--screen-ratio-h-dvh) - 1rem);
  }
  .player-content__youtube {
    visibility: hidden;
    > iframe {
      @apply h-full w-full;
    }
  }
  .mini-size {
    width: 0px;
    height: 0px;
    max-width: 0px;
    max-height: 0px;
  }
  .full-size {
    visibility: visible;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  .search-box {
    background-image: linear-gradient(
      150deg,
      rgba(190, 176, 255, 0.05) 30%,
      rgba(186, 138, 206, 0.2) 100%
    );
    box-shadow: inset 0rem 0.25rem 0 rgba(0, 0, 0, 0.15);
    height: calc((100dvh - var(--screen-ratio-h-dvh)));
    min-height: calc((66.66dvh));
  }
  .search-list__label {
    @apply border-0 text-base font-bold;
  }

  .contact-info:hover button {
    @apply hidden;
  }
  .contact-info:hover p {
    @apply inline;
  }

  /* sm */
  @media screen and (min-width: 640px) {
    .player {
      width: calc(100dvw - var(--controller-w-px));
      /* Prevent for iframe to have blank because height is too small but width is too long. */
      max-width: calc(100dvh * var(--screen-ratio-w));
      > .player-content {
        height: calc((100dvw - var(--controller-w-px)) * var(--screen-ratio-h));
      }
    }
    .search-box {
      box-shadow: inset 0 -0.25rem 0 rgba(0, 0, 0, 0.15);
    }
  }
}

/* small height */
@media screen and (max-height: 320px) {
  #controller-stop {
    @apply sm:hidden;
  }
  .controller {
    * {
      @apply p-0;
    }
  }
  .controller__search-open {
    @apply sm:absolute sm:h-2/5dvh sm:w-dvw sm:gap-1 sm:p-0 sm:pl-2 sm:pr-4 sm:pt-1/2dvh;
    width: 100dvw;
    * {
      @apply sm:flex-row sm:p-0;
    }
    #controller-timebackward {
      @apply sm:hidden;
    }
    #controller-timeforward {
      @apply sm:hidden;
    }
  }
}

.player__search-open {
  @apply sm:justify-end;
}
.search-modal__search-open {
  @apply block;
}
.controller__search-open {
  @apply sm:pt-1/2dvh;
  * {
    @apply sm:z-20 sm:text-sm;
  }
  .button {
    @apply sm:py-2;
  }
  #controller-search {
    @apply sm:hidden;
  }
  #controller-stop {
    @apply sm:hidden;
  }
}
