@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --screen-ratio-w: 1.7777;
  --screen-ratio-h: 0.5625;
  --screen-ratio-h-p: 56.25;
  --screen-ratio-h-vh: 56.25vw;
  --controller-w: 200;
  --controller-w-px: 200px;
  --search-h-px: 58px;
}

/* global */
@layer base {
  body {
    @apply overflow-hidden;
  }
}

/* reusable */
@layer utilities {
  .search-list__li {
    @apply flex h-4 mt-4 border-b border-b-gray-800 border-opacity-50 box-content text-center py-2;
  }
  .search-list__li-click {
    @apply flex-grow flex items-center max-w-full;
  }
  .search-list__li-title {
    @apply flex-grow text-xs text-ellipsis overflow-hidden whitespace-nowrap;
  }
  .search-list__li-artist {
    @apply basis-1/5vw flex-shrink-0 text-xs text-ellipsis overflow-hidden whitespace-nowrap opacity-70;
  }
  .search-list__li-number {
    @apply hidden basis-1/8vw flex-shrink-0 text-xs text-ellipsis overflow-hidden whitespace-nowrap opacity-70 md:block;
  }

  .player-search {
    @apply absolute w-full top-0 md:relative md:justify-end;
  }
  .controller-search {
    @apply hidden md:block pt-1/2vh;
  }
}

/* id */
@layer components {
  #player-modal {
    z-index: 1;
  }
  .player-yt {
    @apply w-full h-full;
    > iframe {
      @apply w-full h-full;
    }
  }
  #controller {
    flex-basis: var(--controller-w-px);
  }
  #search {
    top: calc(100vh - (100vh - var(--screen-ratio-h-vh)));
    height: calc((100vh - var(--screen-ratio-h-vh)));
  }
  #search-modal {
    z-index: 2;
  }
  #search-list__label {
    @apply border-0 font-bold text-base;
  }

  /* md */
  @media screen and (min-width: 768px) {
    #player {
      width: calc(100vw - var(--controller-w-px));
      /* Prevent for iframe to have blank because height is too small but width is too long. */
      max-width: calc(100vh * var(--screen-ratio-w));
      > #player-content {
        height: calc((100vw - var(--controller-w-px)) * var(--screen-ratio-h));
      }
    }
    #controller {
      flex: 0 0 var(--controller-w-px);
    }
    #search {
      top: 0;
      left: 0;
      height: 50vh;
    }
    #search-form__value {
      @apply p-4;
    }
    #search-form__clear {
      @apply p-2;
    }
  }
  /* xs */
  @media screen and (max-width: 300px) {
    #search-form__clear {
      @apply hidden;
    }
    #search-form__search {
      @apply hidden;
    }
  }
}
