/* header appear disappear */
@keyframes disappear__title {
  0% {
    @apply w-72 opacity-80;
  }
  50% {
    @apply w-72 opacity-80;
  }
  70% {
    @apply w-20 opacity-80;
  }
  85% {
    @apply w-20 opacity-80;
  }
  100% {
    @apply w-0 opacity-0;
  }
}
@keyframes appear__menu-open {
  0% {
    @apply opacity-0;
  }
  75% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}
@keyframes spin__menu-open {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-stop__menu-open {
  100% {
    transform: rotate(0deg);
  }
}
.header > #header__group {
  @apply w-8 opacity-0;
  animation: disappear__title 4s;
  transition: opacity 0.3s 0.15s;
}
.header:hover > #header__group {
  @apply w-72 animate-none opacity-100;
}
.header > #header__open {
  @apply opacity-100;
  animation:
    appear__menu-open 5s,
    spin__menu-open 4s 0s infinite;
  transition:
    opacity 0.2s,
    rotate 0s 0.2s;
  box-shadow: inset -0.25rem -0.25rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    150deg,
    rgba(190, 176, 255, 0.05) 30%,
    rgba(186, 138, 206, 0.2) 100%
  );
}
.header:hover > #header__open {
  @apply animate-none opacity-0;
}

/* search box open & clos */
.player__search-close {
  .player-content {
    @apply sm:justify-center;
  }
}
.player__search-open {
  .player-content {
    @apply sm:justify-end;
  }
}
.search-modal__search-close {
  @apply hidden;
}
.search-modal__search-open {
  @apply block;
}
.controller__search-open {
  @apply pt-2 sm:mt-1/2dvh;
  * {
    @apply sm:z-20 sm:text-sm;
  }
  .button {
    @apply sm:py-2;
  }
  #controller-search {
    @apply sm:hidden;
  }
}

@keyframes point__controller-close {
  0% {
    margin-right: 0.6rem;
  }
  85% {
    @apply mr-1;
  }
  100% {
    margin-right: 0.6rem;
  }
}
#controller-close {
  transition: all 0.3s;
  right: -1.55rem;
}
#controller:hover > #controller-close {
  opacity: 0.75;
}
#controller:hover > #controller-close:hover {
  opacity: 1;
  animation: point__controller-close 0.8s infinite;
}

/* sm height */
@media screen and (max-height: 550px) {
  #controller-stop {
    @apply hidden sm:block;
  }
}
@media screen and (max-height: 500px) {
  #controller-stop {
    @apply sm:hidden;
  }
}
@media screen and (max-height: 400px) {
  .player__search-open .full-size {
    height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
    max-height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
  }
  .controller {
    * {
      @apply p-0 text-sm sm:p-0 sm:text-base;
    }
  }
  #controller-stop {
    @apply sm:hidden;
  }
  .controller__search-open {
    @apply sm:basis-96 sm:gap-1;
    * {
      @apply sm:m-0 sm:flex-row sm:gap-1 sm:p-0 sm:text-xs sm:tracking-tighter;
    }
    #controller-timebackward {
      @apply sm:hidden;
    }
    #controller-timeforward {
      @apply sm:hidden;
    }
  }
}
