/* header appear disappear */
@keyframes disappear__title {
  0% {
    @apply w-72 opacity-80;
  }
  50% {
    @apply w-72 opacity-80;
  }
  70% {
    @apply w-20 opacity-80;
  }
  85% {
    @apply w-20 opacity-80;
  }
  100% {
    @apply w-0 opacity-0;
  }
}
@keyframes disappear__menu-button {
  0% {
    @apply w-20;
  }
  85% {
    @apply w-20;
  }
  100% {
    @apply w-0;
  }
}
@keyframes appear__menu-open {
  0% {
    @apply opacity-0;
  }
  75% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}
@keyframes spin__menu-open {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-stop__menu-open {
  100% {
    transform: rotate(0deg);
  }
}
.header #menu-_open {
  @apply w-0;
  animation: disappear__menu-button 4s;
}
.header:hover #menu-_open {
  @apply w-20 animate-none;
}
.header > #header__group {
  @apply w-8 opacity-0;
  animation: disappear__title 4s;
  transition: opacity 0.3s 0.15s;
}
.header:hover > #header__group {
  @apply w-72 animate-none opacity-100;
}
.header > #header__open {
  @apply opacity-100;
  animation:
    appear__menu-open 5s,
    spin__menu-open 5s 0s infinite;
  transition:
    opacity 0.2s,
    rotate 0s 0.2s;
  box-shadow: inset -0.25rem -0.25rem rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(
    150deg,
    rgba(190, 176, 255, 0.05) 30%,
    rgba(186, 138, 206, 0.2) 100%
  );
}
.header:hover > #header__open {
  @apply animate-none opacity-0;
}

/* menu open & close */
.menu-box {
  @apply -top-4;
  left: calc(-66.66dvw - 1rem);
}
@media screen and (min-width: 320px) {
  .menu-box {
    left: calc(-50dvw - 1.25rem);
  }
}
@media screen and (min-width: 640px) {
  .menu-box {
    left: calc(-40dvw - 1.25rem);
  }
}
@media screen and (min-width: 768px) {
  .menu-box {
    left: calc(-33.33dvw - 1.25rem);
  }
}
.menu-opened {
  left: -1rem;
}
@media screen and (min-width: 640px) {
  .menu-opened {
    left: -1.25rem;
  }
}

/* search box open & close */
.player__search-close {
  .player-content {
    @apply sm:justify-center;
  }
}
.player__search-open {
  .player-content {
    @apply sm:justify-end;
  }
}
.search-modal__search-close {
  @apply hidden;
}
.search-modal__search-open {
  @apply block;
}
.controller__search-open {
  @apply pt-2 sm:mt-1/2dvh;
  * {
    @apply sm:z-20 sm:text-sm;
  }
  .button {
    @apply sm:py-2;
  }
  #controller-search {
    @apply sm:hidden;
  }
}

/* controller hide */
@keyframes point__controller-close {
  0% {
    margin-right: 0.5rem;
  }
  80% {
    margin-right: 0.2rem;
  }
  100% {
    margin-right: 0.5rem;
  }
}
@keyframes point__controller-open {
  0% {
    margin-left: 0.3rem;
  }
  80% {
    margin-left: 0rem;
  }
  100% {
    margin-left: 0.3rem;
  }
}
@media screen and (min-width: 640px) {
  .player__controller-closed {
    .player-content__youtube {
      height: calc(
        (100dvw - var(--controller-close-w-px)) * var(--screen-ratio-h)
      );
      max-width: calc(
        (100dvh - var(--player-y-space-px)) * var(--screen-ratio-w)
      );
    }
  }
  .controller {
    transition:
      right 0.3s,
      opacity 0.3s;
  }
  .controller-box__ready-close {
    right: 0.5rem;
    opacity: 0.85;
  }
  .controller__open-close {
    transition:
      all 0.3s,
      right 0s,
      opacity 0.3s;
    right: -4.4rem;
    padding-left: 1rem;
    > span {
      rotate: 0deg;
      transition: rotate 0s 0.01s;
    }
  }
  .controller:hover > .controller__open-close {
    opacity: 0.65;
  }
  .controller:hover > .controller__open-close:hover {
    opacity: 1;
    animation: point__controller-close 0.8s infinite;
  }
  .controller_closed {
    @apply right-0 mx-0 max-w-4 overflow-hidden;
    transition: max-width 0.3s;
    opacity: 0.85;
    > #controller-box {
      @apply pl-4;
      transition: padding-left 0.3s;
    }
    > .controller__open-close {
      opacity: 0.65;
      right: 0;
      left: -0.6rem;
      > span {
        rotate: 180deg;
      }
    }
  }
  .controller_closed:hover {
    @apply max-w-7;
    > #controller-box {
      @apply pl-5 opacity-85;
      transition: padding-left 0.3s;
    }
    > .controller__open-close {
      margin-top: 0;
    }
    > .controller__open-close:hover {
      margin-top: 0;
      animation: point__controller-open 0.8s infinite;
    }
  }
}

/* sm height */
@media screen and (max-height: 550px) {
  #controller-stop {
    @apply hidden sm:block;
  }
}
@media screen and (max-height: 500px) {
  #controller-stop {
    @apply sm:hidden;
  }
}
@media screen and (max-height: 400px) {
  .player__search-open .full-size {
    height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
    max-height: calc(
      (100dvw - var(--controller-open-w-md-px)) * var(--screen-ratio-h)
    );
  }
  .controller {
    * {
      @apply p-0 text-sm sm:p-0 sm:text-base;
    }
  }
  #controller-stop {
    @apply sm:hidden;
  }
  .controller__search-open {
    @apply sm:basis-96 sm:gap-1;
    * {
      @apply sm:m-0 sm:flex-row sm:gap-1 sm:p-0 sm:text-xs sm:tracking-tighter;
    }
    #controller-timebackward {
      @apply sm:hidden;
    }
    #controller-timeforward {
      @apply sm:hidden;
    }
  }
}
